params {
        manifest = ""
        results_dir = ""
        db_dir = "./db"
        gps_db_name = "GPS_v6"
        gps_db = "https://gps-project.cog.sanger.ac.uk/${gps_db_name}.zip"
        gps_db_local = "${db_dir}/${gps_db_name}"
}

profiles {

        standard {
                process {
                    memory = "8GB"
                    cpus = 2
                }
                docker {
                        enabled = true
                        runOptions = '-u $(id -u):$(id -g)'
                }
        }

        farm {
                docker {
                        enabled = false
                }

                singularity {
                        enabled = true
                        autoMounts = true
                        cacheDir = "$PWD"
                }

                process {
                        cpus = 1
                        memory = "8GB"
                        errorStrategy = {task.attempt <= 0 ? 'retry' : 'ignore'}
                        maxRetries = 0
                        withName:get_GPSC {
                                memory = '8000 MB'
                                cpus = 4
                                queue = 'normal'
                        }
                }
                executor {
                        name = "lsf"
                        perJobMemLimit = true
                        jobName = { "gpcs_pipeline - $task.name - $task.hash" }
                        pollInterval = "5 sec"
                }
        }
}
